# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
.venv

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn
dist/
build/

# Идеи редакторов
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Логи и системные файлы
*.log
*.pid
*.seed